/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url('../Images/wave-mob.png');
  background-repeat: no-repeat;
  background-position: center 665px;
  background-color: var(--color-brand-white);
  background-size: contain;
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  @media screen and (min-width: $bp-desktop) {
    background-image: url('../Images/wave.png');
    background-position: center 1320px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: 57px;
  height: 30px;

  @media screen and (min-width: $bp-tablet) {
    width: 74px;
    height: 42px;
  }
}

a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
