:root {
  --color-brand-ligt: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-white: #ffffff;
  --color-brand-gray: #747272;
  --color-brand-light-gray: #d9d9d9;
  --color-brand-blue: #a8c6f5;
  --color-brand-dark-gray: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
