.contacts-section {
  padding: 0;

  @media screen and (min-width: $bp-tablet), screen and (min-width: $bp-desktop) {
    padding: 48px 0 48px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
    color: var(--color-brand-ligt);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.15;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 48px;
      font-family: 'Play';
      font-weight: 700;
      font-size: 64px;
      line-height: 1.15;
    }

    &--accent {
      color: var(--color-brand-dark);
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    width: 100%;
    display: block;
    flex-shrink: 0;
    height: 232px;

    @media screen and (min-width: $bp-tablet) {
      width: 605px;
      height: 481px;
      border-radius: 32px;
    }
  }

  &__form {
    background-image: url('/Images/contact-background.png');
    background-color: var(--color-brand-dark);
    border-radius: 32px;
    width: 422px;
    height: 482px;
  }

  &__sign {
    color: var(--color-brand-white);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.18;
    text-align: center;
    width: 276px;
    margin: 0 auto;
    padding: 48px 0 32px 0;

    &--highlight {
      color: var(--color-brand-ligt);
    }
  }

  &__field {
    margin-bottom: 16px;
    font-size: 13px;
  }
}

.section-title-contacts-title {
  color: var(--color-brand-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
}

.section-title-contacts-title .accent {
  color: var(--color-brand-ligt);
}
