.footer {
  padding: 56px 100px;
  position: relative;
  background-image: url('/Images/footer-background.png');
  background-color: var(--color-brand-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-brand-white);
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  font-style: normal;
}

.address-social {
  fill: var(--color-brand-white);
}

.address-link-confi {
  color: var(--color-brand-white);
  font-size: 16px;
  line-height: 1.8;
  font-style: normal;
  text-decoration: none;
}

.address-copyright {
  color: #747272;
  font-size: 13px;
  line-height: 1.15;
  font-style: normal;
}

.footer::after {
  content: '';
  position: absolute;
  background-image: url('/Images/decor-bottles.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 247px;
  height: 152px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
