.footer {
  padding: 56px 0;
  position: relative;
  background-image: url('/Images/footer-background.png');
  background-color: var(--color-brand-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 48px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      display: flex;
      gap: 32px;
      justify-content: center;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
      gap: 20px;
    }
  }

  &__logo{
    flex-grow: 1;
    padding-bottom: 42px;

    @media screen and (min-width: $bp-tablet) {
      padding-bottom: 0;
    }
  }

  &__menu {
    flex-grow: 1;
  }

  &__address-list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: contents;

    > div:nth-child(1) {
      order: 0;
    }

    > div:nth-child(2) {
      order: 1;
    }

    > div:nth-child(3) {
      order: 2;
    }

    > div:last-child {
      order: 4;
    }

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__address-info {
    display: contents;

    > div {
      order: 3;
    }

    > p {
      order: 5;
    }

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__link {
    color: var(--color-brand-white);
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-style: normal;
    transition: color 0.3s;
    padding-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
      line-height: 1;
    }
  }

  &__address-link {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-brand-white);
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      font-style: normal;
      padding-bottom: 16px;
      display: block;
    }
  }

  &__address-social-line {
    display: flex;
    justify-content: center;
    gap: 23px;
    line-height: 0;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
      gap: 28px;
    }
  }

  &__address-social {
    fill: var(--color-brand-white);
    width: 32px;
    height: 32px;
    padding-bottom: 8px;

     @media screen and (min-width: $bp-tablet) {
      width: 42px;
      height: 42px;
      padding-bottom: 0;
    }
  }

  &__address-link-confi {
    color: var(--color-brand-white);
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    text-decoration: none;
    padding-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
      line-height: 1;
    }
  }

  &__address-copyright {
    color: #747272;
    font-size: 12px;
    line-height: 1,5;
    font-style: normal;
    margin-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
      font-size: 13px;
      line-height: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('/Images/decor-bottles.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 247px;
    height: 152px;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
