.footer {
  padding: 56px 0;
  position: relative;
  background-image: url('/Images/footer-background.png');
  background-color: var(--color-brand-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
  margin-top: 48px;

  &__container {
    display: flex;
    gap: 32px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  &__link {
    color: var(--color-brand-white);
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
    font-style: normal;
    transition: color 0.3s;
    padding-bottom: 16px;
  }

  &__address-link {
    color: var(--color-brand-white);
    font-size: 16px;
    line-height: 1.18;
    text-decoration: none;
    font-style: normal;
    padding-bottom: 16px;
  }

  &__address-social {
    fill: var(--color-brand-white);
    margin-top: 16px;
    margin-right: 20px;
  }

  &__address-link-confi {
    color: var(--color-brand-white);
    font-size: 16px;
    line-height: 1.8;
    font-style: normal;
    text-decoration: none;
    padding-bottom: 16px;
  }

  &__address-copyright {
    color: #747272;
    font-size: 13px;
    line-height: 1.15;
    font-style: normal;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('/Images/decor-bottles.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 247px;
    height: 152px;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
