.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__social {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }

  &__icon {
    fill: var(--color-brand-dark);
  }

  &__beauty {
    background-color: transparent;
    border: none;
    fill: var(--color-brand-white);
    width: 24px;
    height: 24px;
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
