.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 70px 32px 67px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__social {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }

  &__icon {
    fill: var(--color-brand-dark);
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--color-brand-white);
    width: 24px;
    height: 24px;
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
