.hero-section {
  padding: 123px 0 127px 0;
  background-image: url('/Images/hero-section-background-group-wave.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 688px;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('/Images/hero-section-background-group@2x-wave.jpg');
  }

  &__container {
    width: 319px;
    height: 184px;
    padding-left: 105px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      width: 529px;
      height: 408px;
    }
  }

  &__secondary__title {
    color: var(--color-brand-dark);
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
    width: 133px;

    @media screen and (min-width: $bp-tablet) {
      line-height: 1.16;
      margin-bottom: 0;
    }
  }

  &__title {
    color: var(--color-brand-ligt);
    font-family: 'Play';
    font-size: 54px;
    font-weight: 700;
    line-height: 0.85;
    margin-bottom: 32px;
    text-align: center;
    width: 330px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
      padding: 16px 0px 40px 0px;
      max-width: 529px;
      font-size: 140px;
      line-height: 0.81;
    }
  }

  &__ultimate__title {
    color: var(--color-brand-dark-gray);
    text-align: center;
    margin-bottom: 0;
    padding-top: 8px;
    width: 186px;
    height: 36px;
    font-size: 11px;
    line-height: 1.63;

    @media screen and (min-width: $bp-tablet) {
      padding-top: 14px;
      width: 238px;
      height: 36px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
