.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-white);
  transform: translateX(100%);
  transition: transform 0.5s;
  display: none;

  .menu-btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      display: block;
      stroke: var(--color-brand-dark);
    }
  }

  &.is-open {
    transform: translateX(0);
    display: flex;
  }

  &__btn-close {
    position: absolute;
    top: 16px;
  }

  &__backdrop {
    width: 360px;
    height: 640px;
    background-color: var(--color-brand-white);
    padding: 16px 20px 0 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 32px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-brand-dark);
    font-size: 14px;
    line-height: 1;
    font-style: normal;
  }

  &__link:hover {
    color: var(--color-brand-light);
  }

  &__address-social-line {
    display: flex;
    justify-content: flex-start;
    gap: 19px;
    padding-top: 16px;
  }

  &__address-social {
    fill: var(--color-brand-dark);
  }
}
