.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 28, 68, 0.725825);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-image: url('/Images/modal-background.png');
  background-color: var(--color-brand-dark);
  border-radius: 48px;
  padding: 42px 144px 0 144px;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;
      display: block;
      stroke: var(--color-brand-white);
    }
  }

  &__request-call {
    color: var(--color-brand-white);
    font-family: Play;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    text-align: center;
    width: 435px;
    height: 148px;
    margin-bottom: 40px;
  }

  &__sign-up {
    color: var(--color-brand-white);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.18;
    text-align: center;
    width: 276px;
    margin: 0 auto;
    padding-bottom: 32px;

    &.highlight {
      color: var(--color-brand-ligt);
    }
  }
}
